body {
    font-family: 'Merriweather', serif;
    font-family: 'PT Serif Caption', serif;
    /* font-family: 'Roboto', sans-serif;  <--Course Example Code, but doesn't match google fonts site */
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: thin; /* Course example uses border: 1px solid #bbb; */
    padding: 25px; /* Course example uses padding: 1rem; */
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;  /* Course example uses grid-gap property, but VS Code and W3schools says it is outdated */
}

section {
    padding: 25px; /* Course example uses padding: 1rem; */
    background-color: white;
}