body {
    font-family: 'Belleza', sans-serif;
}

header, footer, h3 {
    background-color: #753742;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}
.profile picture {
    width: 100%;
}

.profile img {
    margin-right: 2rem;
    border-radius: 8px;
    filter: drop-shadow(0 0 0.75rem black);
    max-width: 75px;
    height: auto;
}

nav {
    background-color: #F0E5D1;
    margin: 0 auto;
    max-width: 800px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}

.active {
    background-color: #D8BD8A;
}

main {
    max-width: 770px;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

main h2 {
    margin: 2rem;
    align-self: center;
}

main section h3 {
    text-align: center;
    margin-top: 0;
    padding: 1rem;
}

main a:link {
    color: black;
}

main a:visited {
    color: #4F3130;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}
#information {
    margin-top: 1rem;
 }
 
iframe {
    width: 100%;
    margin-top: 1rem;
}

footer {
    text-align: center;
    font-size: small;
    padding: 5px;
    margin-top: 1rem;
}

/* small navigation menu */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #F0E5D1;
	color: #000;
 	position: absolute;
	right: 1rem;
	top: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: black;
}

.navigation li a:hover {
	background-color: #4F3130;
    color: white;
}

/* dark mode button */
#mode {
	position: absolute;
	top: 1rem;
	right: 4rem;
	font-size: 2rem;
	cursor: pointer;
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}
.hero picture {
    width: 100%;
    grid-row: 1 / 2;
}
.hero img {
    width: 100%;
    height: 100%; /* maintains the image's aspect ratio */
    object-fit: cover;
    margin: 0;
}
.herolabel {
	position: absolute;
	top: 40px;
	left: 5px;
	background: radial-gradient(#fff, #a6c7e8);
	border: 3px solid white(32, 81, 124, 0.75);
	padding: 10px;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: 4px;
	font-weight: bolder;
	font-size: 14px;
	font-family: 'Belleza', sans-serif;
    font-style: italic;
}